CLOUDINARY_CLOUD_NAME=n87hqnux
CLOUDINARY_GALLERY_FOLDER=wedding
CLOUDINARY_GIFTS_FOLDER=Gifts
DATABASE_URL=
CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_SANDBOX=true
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_WEBHOOK_URL=
FRONTEND_PUBLIC_URL=http://localhost:4200